.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  height: 27px;
  padding: 0;
  border-radius: 30px;
  display: flex;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle--large .react-toggle-track {
  height: 37px;
  border-radius: 40px;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #eee;
}

.react-toggle-track-check {
  justify-content: center;
  width: 31px;
  display: flex;
  z-index: 10;
  /* margin-top: auto;
  margin-bottom: auto; */
  height: 26px;
  line-height: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.react-toggle--large .react-toggle-track-check {
  width: 41px;
  height: 36px;
}
.react-toggle--disabled .react-toggle-thumb {
  background: #bbb;
}
.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  /* transform: scale(1.1); */
  position: absolute;
  top: -2px;
  left: 0px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #5ee192;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 35%);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.react-toggle--large .react-toggle-thumb {
  width: 41px;
  height: 41px;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #5ee192;
  -moz-box-shadow: 0px 0px 3px 2px #5ee192;
  box-shadow: 0px 0px 2px 3px #5ee192;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #5ee192;
  -moz-box-shadow: 0px 0px 5px 5px #5ee192;
  box-shadow: 0px 0px 5px 5px #5ee192;
}
